@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Roboto&display=swap");

.sidebar {
  height: 100%;
  position: fixed;
  width: 20%;
  background-color: #eceaea9a;
  display: inline-block;
  text-align: left;
}

h1 {
  font-size: 35px;
  width: 90%;
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 40px;
  font-family: "Knewave", cursive;
  background: -webkit-linear-gradient(135deg, rgb(112, 111, 111), #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 30%;
  }

  h1 {
    font-size: 20px;
  }
}

label {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #ff2e63;
  margin-left: 10%;

  font-size: 12px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  width: 75%;
  height: 50px;
  color: black;
  opacity: 0.7;
  text-align: left;

  display: block;
  border: 1px none;
  position: relative;
  overflow: hidden;
  margin: 5px 0px 0px 25%;
  background: #eceaea00;
}

.btn:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: linear-gradient(#fc2c45, #f86d82);

  left: 0;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.3;
}

.btn:hover:before {
  width: 100%;
}

.btn-active:before {
  width: 100%;
}

.slider {
  -webkit-appearance: none !important;
  width: 85%;
  height: 15px;
  display: block;
  background: #eaeaea;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: #e92052;
  margin: auto;
  justify-self: center;
}

.sliderOutput {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 15px;
  opacity: 0.7;
  margin: 5px 0px 0px 58.5%;
}

.sliderContainer {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 11px;
  background-color: black;

  border-radius: 5px;

  opacity: 0.7;
  margin: 0px 0px 0px 20%;
}

.btn-last {
  margin-bottom: 30px;
}

ul {
  padding: 0;
  margin: 0;
}

button:active,
button:focus,
input:active,
input:focus {
  box-shadow: none;
  outline: 0;
}

.dropdown ul {
  list-style-type: none;
}

.triangle {
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid black;
  margin: 10px 0px 0px 58.5%;
  opacity: 0.7;
}
