@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Roboto&display=swap");

h1 {
  font-size: 35px;
  font-family: "Knewave", cursive;
  background: -webkit-linear-gradient(135deg, rgb(112, 111, 111), #000000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.7;
}

.sidebar {
  height: 100%;
  position: fixed;
  width: 20%;
  background-color: #eceaea9a;
  display: inline-block;
  text-align: left;
}

.title {
  width: 90%;
  text-align: center;
  margin: auto;
}

.sidebarSectionTitle {
  font-family: "Roboto", sans-serif;
  color: #ff2e63;
  margin-left: 10%;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 30%;
  }

  h1 {
    font-size: 20px;
  }
}
