html {
  height: 100%;
}

body {
  margin: 0;
  /* Other gradient option */
  /* background: -webkit-linear-gradient(#de6262, #ffb88c);
    background: -o-linear-gradient(#de6262, #ffb88c);
    background: -moz-linear-gradient(#de6262, #ffb88c);
    background: linear-gradient(to right, #de6262, #ffb88c); */

  background: -webkit-linear-gradient(#bdc3c7, #2c3e50);
  background: -o-linear-gradient(#bdc3c7, #2c3e50);
  background: -moz-linear-gradient(#bdc3c7, #2c3e50);
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
}

button:active,
button:focus,
input:active,
input:focus {
  box-shadow: none;
}
